body {
    width: 100%;
    height: 100%;
    color: #424951;
    position: relative;
}

html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

#logoghost {
    margin-top: -7px;
    margin-right: 15px;
    height: 25px;
    display: inline;
}

#startspoooky {
    margin-top: -25px;
    margin-right: 11px;
    height: 55px;
}

a {
    color: #006ec4;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #004b86;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
}

.navbar a {
    color: #333 !important;
}

.navbar-toggle {
    padding: 9px 10px;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-default .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.navbar-default .nav li.active {
    outline: 0;
    background-color: #cecece;
}

@media(min-width:767px) {

    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }

    .navbar-default.top-nav-collapse {
        border-bottom: 2px solid #ccc;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: left;
    color: #424951;

    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;

    background-color: #f1f1f1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body, .tutorialintro-body {
    display: table-cell;
    vertical-align: middle;
}

.btn-circle {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    padding: 6px 0 0 4px;
    border: 2px solid #333;
    border-radius: 35px;
    font-size: 25px;
    color: #333;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #333;
    background: rgba(1,1,1,.3);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
0 {
    -webkit-transform: scale(1);
    transform: scale(1);
}

50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

100% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
}

@-moz-keyframes pulse {
0 {
    -moz-transform: scale(1);
    transform: scale(1);
}

50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

100% {
    -moz-transform: scale(1);
    transform: scale(1);
}
}


.linedivider {
    background: none repeat scroll 0 0 #424951;
    height: 10px;
    margin-top: 10px;
    width: 570px;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {

    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 85px;
    }

    .intro-text {
        font-size: 25px;
    }
}

#games {
    height: 100%;
    min-height: 100%;
}

#download {

    position: relative;
    background-color: #95d0dd;
    background: url(../img/frontpage/downloadbgr.jpg) no-repeat bottom center scroll;

    background-color: #f1f1f1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: 150px;

    height:100%;
    min-height:100%;
}

#download .dwnheading {
    font-size: 27px;
}

#download .dwntext {
    font-size: 15px;
}

.download-section {
    text-align: center;
    width: 100%;
    color: #424951;
    height: 100%;
}

#contact {
    text-align: center;
    font-weight: normal;
    color: #424951;
    padding-bottom: 50px;

    height:100%;
    min-height:100%;
}

@media(min-width:767px) {

    .content-section {
        padding-top: 150px;
    }

    .download-section {
        padding: 75px 0;
        padding-bottom: 175px;
    }
}

.btn {
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #28c3ab;
    color: #28c3ab;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

#about, #games {
    color: #424951;
    text-align: center;
    font-size: 19px;
}

.linedivider {
    background: none repeat scroll 0 0 #424951;
    height: 1px;
    width: 45px;
    display: block;
    margin: 25px auto;
}

pre.prettyprint {
    border: 1px solid #ccc;
    margin-bottom: 0;
    padding: 10px;
    text-align: left;
}

.prettyprint ol.linenums li {
    color: #bebec5;
    line-height: 20px;
    list-style: outside none decimal;
    padding-left: 12px;
}

section {
    font-size: 19px;
    font-weight: 0;
}

#about #chessimage {
    padding: 55px;
    background-color: #049dbf;
    /*margin-top: -13px; */
}

.margintoprow {
    margin-top: 105px;
}

.animated {
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

.vcenter {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
}

/* Styles for tutorial page(s) */
#tut .navbar {
    height: 52px;
    padding: 0;
    border-bottom: 2px solid #ccc;
}

#tutorial {
    margin-top: 155px;
    font-size: 17px;
    text-align: justify;
    line-height: 1.7em;
}

#tutorial .prettyprint {
    margin: 25px 0 25px 0;
    font-size: 14px;
}

#tutorial h1 {
    font-size: 40px;
    text-align: left;
    line-height: 1.5em;
}

#tutorial h2 {
    padding: 45px 0 0px 0;
    font-size: 30px;
    text-align: left;
    line-height: 1.5em;
}

#tutorial h3 {
    padding: 45px 0 0px 0;
    font-size: 26px;
    text-align: left;
    line-height: 1.5em;
}

#tutorial img {
    margin: 45px 0;
    display: block;
}

#tutorial .centered {
    margin-left: auto;
    margin-right: auto;
}

#tutorial ul {
    list-style-type: square;
    padding: 15px 55px;
}

#tutorial ol {
    padding: 15px 55px;
}

#tutorial #overview .content, #tutorial #overview .description {
    margin-top: 25px;
    text-align: justify;
}

#downloadspoookyjs, #gamejs {
    text-align: justify;
}

#gamejs {
    padding-bottom: 150px;
}

#downloadspoookyjs img {
    margin: 10px 0;
}

#tutorial .linedivider {
    margin: 65px auto 0px auto;
}

#footer {
    padding: 10px 0 0 0;
    height: 42px;
    background-color: #f4f4f4;

    margin-top: 155px;
    text-align: center;
    border-top: 2px solid #ccc;
}

#footer .text-muted, #footer a {
    font-weight: normal;
    font-size: 15px;
    color: #424951;
}

#footer a {
    color: #004b86;
}

#tutorial #sidenav {
    text-align: left;
    font-size: 15px;
}

#tutorial #sidenav a {
    color: #555;
}

#tutorial #sidenav a:hover {
    color: #006ec4;
}

body {
    position: relative;
}