<div class="navbar navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../../index.htm">
                <img id="logogfx" src="../../img/spoooky-ghost_flat.png" alt="Spoooky Logo" /> SpoookyJS
            </a>

        </div>

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Spiele<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="../amazons/index.htm">Amazons</a></li>
                        <li><a href="../backgammon/index.htm">Backgammon</a></li>
                        <li><a href="../checkers/index.htm">Dame</a></li>
                        <li><a href="../gomoku9x9/index.htm">Gomoku 9x9</a></li>
                        <li><a href="../gomoku15x15/index.htm">Gomoku 15x15</a></li>
                        <li><a href="../chess/index.htm">Schach</a></li>
                        <li><a href="../tictactoe/index.htm">Tic Tac Toe</a></li>
                    </ul>
                </li>
                <li><a href="#">Über SpoookyJS</a></li>
                <li><a href="#">Impressum und Kontakt</a></li>
            </ul>

        </div>

    </div>
</div>